{% extends 'base.html' %}
{% block title %} Homepage {% endblock %}


{% block content %} 
<div>
    <h1>ABC Toolkit home ++ </h1>
    <button onclick="say_hello();">Say hello to the backend container</button>
</div>

{% endblock %}

{% block script %}
<script>
    function say_hello(service) {
        console.log(`Saying hello to backend container`)
        
        fetch(
            "{{url_for('index.hello')}}", {
            method: "GET"
        })
        .then(function (res) {
            if (res.status !== 200) {
                // Error handling
                console.log(`Response status was not 200: ${res.status}`);
                return;
            }
            res.json().then(function (data) {
                console.log(`${service} replied with: ${data.message}`)
            })
            
        })


    }
</script>
{% endblock %}